.btn_div_new {
  background-color: unset;
  border: unset;
  outline: unset;
  position: fixed;
  bottom: 15px;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
}
button:hover {
  border-color: unset !important;
}
.new_exp_btn_div {
  position: relative;
}
.btn_plus {
  width: 60px;
}
.NewExpense_div {
  z-index: 9999;
  position: fixed;
  bottom: -30px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  width: 95%;
  height: 250px;
  background-color: #caffcc;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: #000;
}
