* {
  font-family: poppins;
}

.login_form_sec,.signup_form_sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/header_bg.svg);
  background-color: #33b856;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.login_form,.signup_form {
  background-color: #fff;
  width: 350px;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_form_controls ,.signup_form_controls{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (max-width: 767px) {
.login_form_controls,.signup_form_controls{
  width: 100%;
}
.login_form {
  width: 88%;

}
}

.login_form_input,.signup_form_input {
  background-color: #fff;
  border: 1px solid #33b856;
  padding: 14px;
  border-radius: 24px;
  color: #181818;
  font-size: 16px;
}

.login_form_input:focus-visible,.signup_form_input:focus-visible {
  outline: #08af34 !important;
  border: 1px solid #08af34 !important;
  box-shadow: none;
}

.login_form_label,.signup_form_label {
  color: #33b856;
  padding-bottom: 8px;
}

.login_submit_btn,.signup_submit_btn {
  background-color: #33b856 !important;
  border-radius: 24px;
  margin-top: 8px;
  color: #fff;
  padding: 12px 12px;
}
.login_submit_btn :hover,.signup_submit_btn:hover {
  border: none;
  outline: none;
  border-color: unset !important;
  box-shadow: none;
}
.login_submit_btn :focus-visible ,.signup_submit_btn:focus-visible {
  border: none;
  outline: none !important;
}
.login_submit_btn:focus{
  border: none;
  outline: none !important;
}

.login_form h2,.signup_form h2 {
  color: #33b856;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
}

.login_form p ,.signup_form p{
  color: #888;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.loading_p{
    color: #08af34;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.root_div_loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}